<div class="header__nameWrapper">
  <h1 class="header__name">
    Serhii Zarva
  </h1>
  <h2 class="header__spec">
    {{ i18n "developer" }}
  </h2>
</div>
<div class="header__contacts">
  <ul class="contact__list">
    <li class="list__item list__item--phone">
      <img src="dist/img/call-answer.svg" alt="phone" />
      +380935137879
    </li>
    <li class="list__item">
      <img src="dist/img/envelope.svg" alt="email" />
      info@zarva.me
    </li>
    <li class="list__item">
    <img src="dist/img/geo.svg" alt="geo" />
      {{ i18n "addresse" }}
    </li>
  </ul>
</div>
