.socialLinks__wrapper h3 {
  text-align: center;
}

.socialLinks__list {
  padding: 0;
  margin: 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 10px;
  justify-items: center;
}

.socialLinks__list .list__item {
  padding: 0;
  margin: 0;
  list-style: none;
}

.socialLinks__list .list__item a {
  display: flex;
}

.socialLinks__list .list__item img {
  height: 50px;
  width: 50px;
}

.copyrights {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.copyrights a {
  color: var(--secondary-color);
}
