.main-information__title {
  padding: 15px 0;
  margin: 10px 0 0 0;
  border-bottom: 2px solid var(--secondary-color);
  text-align: center;
}

.tabs {
  margin: 0;
  padding: 10px 0 15px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 10px;
}

.tabs--sticky {
  position: sticky;
  top: 0;
  background-image: linear-gradient(
    to bottom,
    var(--primary-color) 0%,
    var(--primary-color) 80%,
    transparent
  );
}

.tabs .tabs__item {
  padding: 10px;
  margin: 0;
  list-style: none;
  border: 1px solid var(--secondary-color);
  cursor: pointer;
  transition: box-shadow 0.15s ease-out;
}

.tabs .tabs__item:hover {
  box-shadow: 0 0 15px 3px var(--secondary-color);
}

.tabs .tabs__item.tabs__item--active {
  text-decoration: underline;
}

.tabs-content__item {
  display: none;
  opacity: 0;
  text-align: justify;
}
.tabs-content__item p {
  padding: 0;
  margin: 0 10px;
}
.tabs-content__item a {
  color: var(--secondary-color);
}
.tabs-content__item img {
  width: 100%;
  margin-bottom: 10px;
}

.tabs-content__item.tabs-content__item--active {
  display: block;
  opacity: 1;
  transition: opacity 1s ease-out;
}

.tabs-content__item.tabs-content__item--callback-form .callback-form {
  display: grid;
  grid-gap: 10px;
  margin-top: 10px;
}

.tabs-content__item.tabs-content__item--callback-form .callback-form input,
.tabs-content__item.tabs-content__item--callback-form .callback-form textarea {
  font-family: "Roboto Slab", sans-serif;
}

.tabs-content__item.tabs-content__item--callback-form #callbackEmail {
  height: 30px;
  font-size: 16px;
  padding: 10px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.tabs-content__item.tabs-content__item--callback-form textarea {
  resize: none;
  height: 200px;
  font-size: 16px;
  padding: 10px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
}

.tabs-content__item.tabs-content__item--callback-form .callback-form__submit {
  padding: 0;
  margin: 0;
  background-color: transparent;
  height: 40px;
  font-size: 16px;
  border: 2px solid var(--secondary-color);
  color: var(--secondary-color);
}
