@import "_header";
@import "_main";
@import "_tabs";
@import "_footer";

:root {
  --primary-color: #fff;
  --secondary-color: #2f2f2f;
}

body {
  width: 95%;
  margin: 0 auto;
}

body {
  background-color: var(--primary-color);
}

/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
