@import "_header";
@import "_main";
@import "_tabs";
@import "_footer";

:root {
  --primary-color: #fff;
  --secondary-color: #2f2f2f;
  --svg-invert: 0;
}
/* roboto-slab-regular - latin_cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 400;
  src: local(""),
    url("/dist/fonts/roboto-slab-v10-latin_cyrillic-regular.woff2")
      format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/dist/fonts/roboto-slab-v10-latin_cyrillic-regular.woff")
      format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* roboto-slab-700 - latin_cyrillic */
@font-face {
  font-family: "Roboto Slab";
  font-style: normal;
  font-weight: 700;
  src: local(""),
    url("/dist/fonts/roboto-slab-v10-latin_cyrillic-700.woff2") format("woff2"),
    /* Chrome 26+, Opera 23+, Firefox 39+ */
      url("/dist/fonts/roboto-slab-v10-latin_cyrillic-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

body {
  width: 95%;
  margin: 0 auto;
  font-family: "Roboto Slab", sans-serif;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transition: background-color 0.5s ease-out;
}

#themeToggle {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 0;
  margin: 10px;
  background-color: var(--secondary-color);
  /*background-image: linear-gradient(*/
  /*  180deg,*/
  /*  var(--primary-color) 0%,*/
  /*  var(--primary-color) 23%,*/
  /*  var(--secondary-color) 23%,*/
  /*  var(--secondary-color) 26%,*/
  /*  var(--primary-color) 26%,*/
  /*  var(--primary-color) 48%,*/
  /*  var(--secondary-color) 48%,*/
  /*  var(--secondary-color) 51%,*/
  /*  var(--primary-color) 51%,*/
  /*  var(--primary-color) 73%,*/
  /*  var(--secondary-color) 73%,*/
  /*  var(--secondary-color) 76%,*/
  /*  var(--primary-color) 76%*/
  /*);*/
  width: 30px;
  height: 30px;
  overflow: hidden;
  border: 1px solid var(--secondary-color);
}

/* for-phone-only */
@media (max-width: 599px) {
}

/* for-tablet-portrait-up */
@media (min-width: 600px) {
}

/* for-tablet-landscape-up */
@media (min-width: 900px) {
}

/* for-desktop-up */
@media (min-width: 1200px) {
  body {
    width: 80%;
    margin: 0 auto;
  }
  main {
    display: grid;
    grid-template-columns: 1fr 3fr;
    column-gap: 100px;
    margin-top: 50px;
  }
}

/* for-big-desktop-up */
@media (min-width: 1800px) {
}
